* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
}

.login-button {
 border-radius: 25px;
}

.login-button .fa{
  margin-right: 10px;
}

.estou-aqui{
  color: hotpink;
}

a {
  text-decoration: none;
}

.hr {
  border: solid 1px black;
  margin-left: 24%;
  margin-top: 8%;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: [inicio] 1fr [inicio2] 1fr [meio] 1fr [final1] 1fr [final];
  grid-template-rows: [plinha] 1fr [slinha] 1fr [tlinha] 1fr [qlinha] 1fr [linha5] 1fr;
  height: 400px;
  width: 100%;
}

.cabecalho {
  grid-column: inicio/final;
  grid-row: plinha/slinha;
  height: 120px;
  background-color: rgba(21, 21, 21, 0.425);
  position: fixed;
  top: 0%;
  z-index: 100000000000;
  width: 100%;
}

aside {
  grid-column: inicio/final;
  grid-row: plinha/slinha;
  height: 660px;
}

.main1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: inicio2/final1;
  height: 485px;

}

.sidebar1 {
  grid-column: inicio/meio;
  height: 490px;
  display: flex;
  justify-content: center;
  
  background-color: hotpink;
}

.sidebar1 .promo-img{
  margin-top: 5%;
}

.sidebar2 {
  grid-column: meio/final;
  height: 490px;
  display: flex;
  justify-content: center;
  
  background-color: hotpink;
}

.main-content-index {
  grid-column: 1/-1;
  grid-row: qlinha;
  margin-bottom: 5%;
  margin-top: 5%;
}

.footer-index {
  grid-row: linha5;
  grid-column: 1/-1;
  height: 465px;
  background-color: #000000;
}


/*
 HEADER CSS
*/

.grid-de-cabecalho {
  display: grid;
  grid-template-columns: [canto] 5% [meio1] 1fr [meio2] 1fr [meio3] 1fr [cantof] 2%;
  grid-template-rows: repeat(5, 20px);
  height: 150px;
  align-items: center;

}

.div-header{
  grid-column: meio3/cantof;
  grid-row: 1;
  margin-top: 18%;
  height: 80px;
    display: flex;
    justify-content: flex-end;
}

.div-header ul li:first-child{
  margin-right: 10px;
}

.div-header .login-button{
  background-color: rgba(255, 105, 180, 0.414);
}

.div-header .login-button:hover{
  background-color: hotpink;
}

.grid-de-cabecalho .div1 {
  grid-column: meio1/meio2;
  grid-row: 2/3;
  margin-top: 4%;
}

.grid-de-cabecalho .div2 {
  grid-column: meio1/meio2;
  display: flex;
  grid-row: 4/5;
  margin-top: 2%;
}

.grid-de-cabecalho h1 {
  font-size: 75px;
  font-family: Impact;
  color: white;
}

.grid-de-cabecalho h2 {
  font-size: 37px;
  font-family: impact;
  color: white;
  margin-top: 6%;
}

.menu {
  grid-column: meio2/cantof;
  grid-row: 2/6;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a{
  display: inline-block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}



li a:hover {
  background-color: hotpink;
  color: #ffffff;
}


header.rolar {
  background-color: white;
  box-shadow: 0px 0px 10px;
  height: 85px;
}

header.rolar h1 {
  color: black;
  font-size: 50px;
  margin-bottom: 5%;
}

header.rolar h2 {
  color: black;
  margin-bottom: 11%;
  font-size: 28px;
}

header.rolar .menu a {
  margin-bottom: 15%;
  color: black;
}

header.rolar .menu .opicoes-dropdaw a {
  margin: 0;
}

header.rolar .div-header a{
  color: #000000;
}

/*
Aside
*/

.aside {
  display: flex;
  margin: 0;
  padding: 0;
}

.slide {
  width: 400%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slide input,
.img-mobile {
  display: none;
}

.slide-container {
  height: auto;
  position: relative;
  transition: 1s;
}

.slide-manu,
.slide-auto {
  position: absolute;
  margin-top: 680px;
  display: flex;
  justify-content: center;
}

.slide-manu .manu-btn,
.slide-auto div {
  border: 3px solid #ff0054;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}

.slide-manu .manu-btn:not(:last-child),
.slide-auto div:not(:last-child) {
  margin-right: 10px;
}

.slide-manu .manu-btn:hover {
  background-color: #ff0054;
}

#radio1:checked ~ .slide-auto .auto-btn1,
#radio2:checked ~ .slide-auto .auto-btn2,
#radio3:checked ~ .slide-auto .auto-btn3 {
  background-color: #ff0054;
}

#radio1:checked ~ .primeiro {
  margin-left: 260%;
}

#radio2:checked ~ .primeiro {
  margin-left: -30%;
}

#radio3:checked ~ .primeiro {
  margin-left: -240%;
}

/*
main css
*/

.main1 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main1 h2 {
  font-size: 47px;
  margin-top: 3%;
}

.main1 h3 {
  font-size: 30px;
}

.main1 p {
  font-size: 25px;
}

main button{
  padding: 10px 20px;
}

main button:hover{
  background-color: rgb(255, 0, 128);
}

/*
 Sidebar 1 e 2
*/

.sidebar1 .promo-img {
  background-image: url(./img/Black.jpg);
  background-size: cover;
  height: 400px;
  width: 50%;
}

.sidebar2 .promo-tx {
  height: 400px;
  width: 70%;
  text-align: center;
}

.sidebar2 .promo-tx #p1 {
  font-size: 29px;
  margin-top: 25%;
}

.sidebar2 .promo-tx #p2 {
  font-size: 25px;
}

/*
MAIN2
*/

.preco-desconto {
  text-align: center;
}

.preco-desconto h4 {
  font-size: 8px;
  color: #ffffff;
}

.preco-desconto span {
  padding: 0px 10px 0px 10px;
  font-size: 17px;
  color: rgb(0, 123, 0);
}

.preco-desconto p {
  font-size: 11px;
  color: #ffffff;
  color: #6d0000;
}

/*
FOOTER
*/


.footer {
  background-color: #000000;
  color: #ccc;
  padding: 50px 20px 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  margin-left: 15%;
}

.footer-column {
  flex: 1 1 300px;
  margin: 20px;
}

.footer-column h3 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.footer-column p {
  font-size: 16px;
  line-height: 1.6;
  color: #bbb;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.footer-column ul li a {
  color: #bbb;
  text-decoration: none;
  font-size: 16px;
}

.footer-column ul li a:hover {
  color: #fff;
}

.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #888;
}

.footer-bottom span {
  color: #fff;
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  color: #ccc;
  margin: 0 10px;
  font-size: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #111;
  border-radius: 50%;
  text-align: center;
  transition: background 0.3s, color 0.3s;
}

.social-icons a:hover {
  background-color: hotpink;
  color: white;
}





/* ---------------------------------------
           NOSCONHECA.HTML
  ----------------------------------------
*/

.div-grid-conheca {
  display: grid;
  grid-template-columns: [coluna1] 1fr [coluna2] 1fr [coluna3] 1fr [coluna4] 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 100px;
}

.cabeca {
  background-color: rgba(98, 98, 98, 0.252);
  grid-column: 1/-1;
  grid-row: 1;
  height: 75px;
  z-index: 100000000000;
  width: 100%;
}

.conheca {
  grid-column: 1/-1;
  grid-row: 1;
  height: 659px;
  background-image: url(./img/fundo.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
}

.single-property {
  grid-column: coluna1/coluna4;
  grid-row: 3;
  height: 800px;
  text-align: justify;
  margin-top: 4%;
  margin-left: 5%;

}

.make {
  grid-column: 4;
  grid-row: 3/4;
  height: 650px;
  width: 100%;
  text-align: justify;
  padding: 60px;
margin-top: 45%;
}

.make a{
  color: palevioletred;
}

.make h5{
  margin-top: 5%;
}

.footer {
  grid-column: 1/-1;
  grid-row: 5;
  background-color: #000000;
  width: 100%;
}

.custumizar{
  margin-top: 5%;
  
}

.single-property.section {
  padding: 40px 0; /* fundo claro amarelado */
}

.single-property .main-content {
  margin-top: 20px;
  padding: 15px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.single-property .main-content .category {
  display: inline-block;
  font-size: 0.9rem;
  color: honeydew; /* verde */
  background: hotpink; /* verde claro */
  padding: 4px 8px;
  border-radius: 20px;
  font-weight: 500;
}

.single-property .main-content h4 {
  font-size: 2rem;
  margin-top: 10px;
  color: #350221; /* marrom terroso */
}

.single-property .main-content p {
  margin-top: 15px;
  line-height: 1.7;
  font-size: 1rem;
  color: #555;
}

.single-property .main-content p br {
  margin-bottom: 8px;
}

/*----------------------------------
             CONTATOS
  ----------------------------------
*/

.div-grid-contatos{
  display: grid;
  grid-template-columns: [col-una1] 1fr [col-una2] 1fr [col-una3] 1fr [col-una4] 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 500px;
  width: 100%;
}

.img-contatos{
   grid-column: 1/-1;
   grid-row: 1;
  background-image: url(./img/fundo2.jpg);
}

.contatos-gb{
   grid-column: col-una2/col-una4;
   grid-row: 2;
   height: 350px;
   margin-top: 5%;
   display: flex;
   align-items: center;
  border-radius: 15px;
  padding: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.endereco-gb{
   grid-column: col-una1/col-una4;
   grid-row: 3;
   height: 500px;
}

.contatos-gb .item {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 12px;
  padding: 10px;
  gap: 15px;
  border: 2px solid hotpink;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-top: 18%;
}

.contatos-gb .item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(255, 105, 180, 0.4);
}

.contatos-gb img {
  max-width: 52px;
}

.contatos-gb h6 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.contatos-gb h6 span {
  display: block;
  font-size: 12px;
  color: hotpink;
  font-weight: bold;
}

.formulario-gb{
   grid-column: col-una4;
   grid-row: 2/4;
   height: 780px;
   margin-top: 15%;
   max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(145deg, #ffe4f0, #ffd6ea);
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.15);
  height: 650px; /* altura maior */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario-gb form{
  margin-right: 20%;
}


.formulario-gb h2 {
  text-align: center;
  color: hotpink;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: hotpink;
  margin-bottom: 5px;
}

input, textarea {
  padding: 12px;
  border: 2px solid hotpink;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
  transition: 0.3s;
}

input:focus, textarea:focus {
  border-color: deeppink;
  box-shadow: 0 0 8px rgba(255, 105, 180, 0.5);
}

textarea {
  min-height: 120px;
  resize: vertical;
}

button.orange-button {
  background: hotpink;
  color: white;
  font-size: 18px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button.orange-button:hover {
  background: deeppink;
}

.footer-contatos{
  grid-row: 5;
  grid-column: 1/-1;
  background-color: #000000;
}

.endereco-gb #map{
margin-left: 15%;
margin-bottom: 5%;
}

.formulario-gb form{
  margin-right: 8%;
}


/* -----------------------------
             PRODUTOS
-------------------------------
*/

.comprar-produtos{
  background-image: url(img/fundo2.jpg);
  background-repeat: no-repeat;
  height: 400px;
}



 .main-content {
            padding: 40px 20px;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
        }

        .products-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;
            margin-top: 30px;
        }

        .product-card {
            background: white;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        .product-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 20px rgba(0,0,0,0.15);
        }

        .product-image {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-radius: 8px;
            margin-bottom: 15px;
            background-color: #f8f8f8;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #666;
            font-size: 14px;
        }

        .product-title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #333;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .product-price {
            font-size: 24px;
            font-weight: bold;
            color: #2c2c2c;
            margin-bottom: 5px;
        }

        .product-installments {
            font-size: 12px;
            color: #666;
            margin-bottom: 15px;
        }

        .buy-button {
            width: 100%;
            padding: 12px;
            background-color: hotpink;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .buy-button:hover {
            background-color: rgb(254, 0, 127);
        }

        /* Sidebar Cart */
        .cart-sidebar {
            position: fixed;
            top: 0;
            right: -400px;
            width: 400px;
            height: 100vh;
            background-color: white;
            box-shadow: -5px 0 15px rgba(0,0,0,0.1);
            transition: right 0.3s ease-in-out;
            z-index: 200000000000;
            display: flex;
            flex-direction: column;
        }

        .cart-sidebar.open {
            right: 0;
        }

        .cart-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 1500;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
        }

        .cart-overlay.active {
            opacity: 1;
            visibility: visible;
        }

        .cart-header {
            padding: 20px;
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cart-title {
            font-size: 20px;
            font-weight: bold;
            color: #333;
        }

        .close-cart {
            background: none;
            border: none;
            font-size: 24px;
            cursor: pointer;
            color: #666;
        }

        .cart-items {
            flex: 1;
            padding: 20px;
            overflow-y: auto;
        }

        .cart-item {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 15px 0;
            border-bottom: 1px solid #eee;
        }

        .cart-item:last-child {
            border-bottom: none;
        }

        .cart-item-image {
            width: 60px;
            height: 60px;
            background-color: #f8f8f8;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: #666;
        }

        .cart-item-info {
            flex: 1;
        }

        .cart-item-name {
            font-weight: bold;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .cart-item-price {
            color: hotpink;
            font-weight: bold;
        }

        .quantity-controls {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 5px;
        }

         .quantity-controls button{
          padding: 2px 10px;
          margin-bottom: 7px;
        }

        .quantity-btn {
            background-color: #f0f0f0;
            border: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .quantity {
            font-weight: bold;
            min-width: 20px;
            text-align: center;
        }

        .cart-footer {
            padding: 20px;
            border-top: 1px solid #eee;
        }

        .cart-total {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: bold;
        }

        .checkout-btn {
            width: 100%;
            padding: 15px;
            background-color: #2c2c2c;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .checkout-btn:hover {
            background-color: #1a1a1a;
        }

        .empty-cart {
            text-align: center;
            padding: 40px 20px;
            color: #666;
        }

        /* Responsive */
        @media (max-width: 768px) {
            .cart-sidebar {
                width: 100%;
                right: -100%;
            }

            .products-grid {
                grid-template-columns: 1fr;
            }

            .header-content {
                padding: 0 15px;
            }

            .nav-menu {
                gap: 15px;
            }

            .nav-item {
                font-size: 14px;
            }
        }


/*
   CARRINHO
*/

.div-grid-carrinho{
  display: grid;
  grid-template-columns: [col1] 1fr [col2] 1fr [col3] 1fr [col4] 1fr;
  grid-template-rows: repeat(5, 1fr);
  height: 500px;
  width: 100%;
}